.virtualpiggy-button {
    cursor: pointer;
    margin-bottom: 30px
}

.virtualpiggy-loginbox {
    width: 400px;
    height: 230px;
    position: fixed;
    z-index: 10001;
    outline: 9999px solid rgba(0,0,0,.6);
    background-color: #fff;
}

.virtualpiggy-buttons {
    bottom: 25px;
    left: 125px;
    position: absolute;
    text-align: center;
    width: 140px;
}

.virtualpiggy-field-row {
    margin-bottom: 10px;
}

.virtualpiggy-field-row input,
.virtualpiggy-field-row select {
    float: left !important;
    width: 200px !important;
    height: 20px !important;
    border-radius: 2px !important;
    padding: 3px !important;
}

.virtualpiggy-form-child .virtualpiggy-field-row select {
    margin-top: 6px !important;
    padding: 0 !important;
    width: 160px !important;
}

.virtualpiggy-field-row label {
    float: left !important;
    width: 100px !important;
    color: #555555 !important;
    float: left !important;
    font-size: 12px !important;
    padding-top: 6px !important;
    width: 100px !important;
}

.virtualpiggy-form-child .virtualpiggy-field-row label {
    width: 130px !important;
}

.virtualpiggy-field-row .clearfix {
    clear: both !important;
}

.virtualpiggy-form {
    margin: 20px auto 0 !important;
    width: 315px !important;
}

.virtualpiggy-form {
    margin: 20px auto 0 !important;
    width: 315px !important;
}

.virtualpiggy-loginbox img {
    background-color: #BBCCDD !important;
    border-radius: 7px 7px 7px 7px !important;
    display: block;
    margin: 10px auto 0 !important;
    padding: 4px !important;
}

.vp-loading-container {
    margin: 50px auto !important;
}

div.virtualpiggy-payment-row img {
    float: left;
    margin: 0 !important;
}

div.virtualpiggy-payment-row input {
    display: block !important;
    float: left !important;
    height: auto !important;
    margin: 10px !important;
}

div .vp-button-container {
    bottom: 10px;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}